aiohttp==1.3.0
asn1crypto==0.22.0
async-timeout==1.2.0
backports.ssl==0.0.9
beautifulsoup4==4.5.1
bs4==0.0.1
cffi==1.10.0
chardet==3.0.2
click==6.7
cryptography==1.8.1
cssselect==1.0.0
cycler==0.10.0
decorator==4.0.11
facepy==1.0.8
Flask==0.12.2
Flask-MySQL==1.4.0
gi==1.2
idna==2.5
IMAPClient==1.0.2
ims==3.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
mock==1.3.0
multidict==2.1.4
nbformat==4.3.0
numpy==1.13.0
packaging==16.8
pandas==0.20.3
pbr==3.0.0
plotly==2.0.12
pycparser==2.17
PyJWT==1.5.0
PyMySQL==0.7.11
pynotify==0.1.1
pyOpenSSL==17.0.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
pyzmail==1.0.3
requests==2.12.4
selenium==3.0.2
six==1.10.0
slugify==0.0.1
tabulate==0.7.7
telepot==10.5
termcolor==1.1.0
tqdm==4.15.0
traitlets==4.3.2
twilio==6.1.0
urllib3==1.21
virtualenv==15.1.0
Werkzeug==0.12.2
yarl==0.10.0
